[Desktop Entry]
Name=XBill
Comment=Save the world
Comment[pl]=Uchroń świat
Exec=xbill
Icon=xbill.png
Type=Application
Terminal=false
Encoding=UTF-8
# vi: encoding=utf-8
