[Desktop Entry]
Name=XBill
Comment=Save the world
Comment[pl]=Uchroń świat
Exec=xbill
Icon=xbill
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
